body {
	font-family: libre-sans;
	background: #000;
}
#container {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 541px;
	padding: 0px;
	box-shadow: 0 0 10px #fff;

}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
}
.highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(14, 230, 249, 0.3);
	//background: rgb(255, 255, 0);
	z-index: 100;
}